// import profiles and workflow SHA from core
includeConfig "base.config"


// define workflow params
params {
    help = false
    version = false
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'

    // I/O
    input = null
    out_dir = "output"
}

manifest {
    name            = 'thomascwilliams/rsv_climb_nf'
    author          = 'Thomas C Williams'
    homePage        = 'https://github.com/thomascwilliams/rsv_climb_nf'
    description     = 'Run BEAST analysis on RSV data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.0.1'
}